<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dashboard</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <!-- importing required CDN's, CSS and JS -->
  <link rel="stylesheet" href="/media/vendors/feather/feather.css">
  <link rel="stylesheet" href="/media/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/media/vendors/css/vendor.bundle.base.css">
  <link rel="icon" type="image/png" sizes="32x32" href="https://portal.e-yantra.org/img/favicon_io/favicon-32x32.png">
  <link rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/media/css/style.css">
  <link rel="stylesheet" type="text/css" href="/media/js/styles.css">
  <link rel="stylesheet" type="text/css" href="/media/css/spinner.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous"></script>

  {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous"> {% endcomment %}

  {% comment %} <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script> {% endcomment %}
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  {% comment %} <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script> {% endcomment %}
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-polar.min.js"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
  {% comment %} <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet"> {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  <!-- CDN's for datatables -->
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.4.0/css/select.dataTables.min.css">

  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>

  <!--  Guided Tour using https://iprogramista.pl/Bs5IntroTour  -->
  <link href="/media/bs5-intro-tour/bs5-intro-tour.css" rel="stylesheet">
  <script src="/media/bs5-intro-tour/bs5-intro-tour.min.js"></script>

  <style>
    body {
      height: 100vh !important;
    }

    #sidebar .mdi {
      font-size: 2em;
      height: 0.5px;
      margin-top: -46px !important;
      margin-left: -6px;
      padding-right: 7px;
      color: #818795; 
    }
    .nav-link:hover > .mdi, .active > a > .mdi{ 
      color:white !important;
    }

    #box_chart {
      width: 100%;
      height: 50vh;
      margin: 0;
      padding: 0;
    }

    .card{
      border-radius: 20px;
    }

    .btn_mail:hover {
      color: #fff !important;
      background-color: #1d5614 !important;
    }

    ol li{
      color:#11406ee0 !important;
    }

    li::before {
      color:#212529 !important;
    }

    .req::after {
      content: "*";
      color: red;
    }

    .btn-primary:disabled, .btn-outline-danger:disabled {
      text-decoration-line: line-through !important;
    }

    .form-control.no-validate:valid {
      border-color: #ced4da;
      padding-right: .75rem;
      background: none !important; 
    }

    .nav-select {
      width: fit-content;
      border-radius: 10px;
      max-width: 19%;
      color: #000;
      background-color: transparent;
      border-color: #a3a4a5;
      font-size: medium;  
      margin-left: 10px;
      padding: 6px;
    }

    select:hover {
      box-shadow: 0px 0px 10px #ada8a8;
      cursor: pointer;
    }

    .ti-info:hover {
      box-shadow: 0px 0px 5px #bdbdbd;
    }

  </style> 
</head>
<body>
  <div class="container-scroller">
    <!-- importing navbar template from usernavbar.html -->
    {% include 'usernavbar.html' with theme=theme %}
      <div class="main-panel" style="right:0px; position:absolute;">
        <div class="content-wrapper">
          <!-- hero component of dashboard -->
          <div class="row">
            <div class="mb-1 col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-2 mb-xl-0">
                  <!-- User Name and quote of the day -->
                  <h3 class="font-weight-bold">Welcome {{ user.get_username }}</h3>
                  <h5 class="font-weight-normal mb-0" id="quotes">All systems are running smoothly! Have a great day ahead! :) Just Kidding</h5>
                  <p id="author" style="text-align: end;"></p>
                </div>
                
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <!-- image of people and temperature -->
            <!-- <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-people mt-auto">
                  <img src="/media/images/people.jpg" alt="people">
                  <div class="weather-info">
                    <div class="d-flex">
                      <div>
                        <h2 class="mb-0 font-weight-normal"><span id="temperature">31</span><sup>&#176;C</sup></h2>
                      </div>
                      <div class="ml-2">
                        <h4 class="location font-weight-normal">Mumbai</h4>
                        <h6 class="font-weight-normal">India</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-12 col-lg-7 col-xs-12 mb-3" id="tour-prediction">
              <div style="margin: 5px; border-radius: 20px; background-color:white; padding: 10px; height:100%; border: 1px solid rgba(0,0,0,.125);">
                <!-- canvas for doughnut chart -->
                <canvas id="myChart" style="max-height:70vh;"></canvas>                
                {% comment %} <canvas id="doughnutChart" style="min-height: 42vh; margin-bottom: 10px;"></canvas> {% endcomment %}
                <div id="spinner_home1">
                  ML model is loading...  
                  <div class="spinner-border ms-auto text-success" id="statusSpin1" role="status" aria-hidden="true"></div>
                </div> 
              </div>
            </div>
            <div class=" mt-2 col-12 col-lg-5 grid-margin transparent" id="tour-discourse">
              <div class="row">
                <!-- piazza data from backend -->
                <div class="col-6 mb-4 stretch-card transparent">
                  <div class="card card-tale" style="min-width:130px;">
                    <div class="card-body">
                      <p class="mb-4">Total Contributions</p>
                      <p class="fs-30 mb-2">{{piazza_stats.posts}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue" style="min-width:130px;">
                    <div class="card-body">
                      <p class="mb-4">Total Questions</p>
                      <p class="fs-30 mb-2">{{piazza_stats.questions}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-light-blue" style="min-width:130px;">
                    <div class="card-body">
                      <p class="mb-4">Answers by Instructors</p>
                      <p class="fs-30 mb-2">{{piazza_stats.i_answers}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-light-danger" style="min-width:130px;">
                    <div class="card-body">
                      <p class="mb-4">Answers By Students</p>
                      <p class="fs-30 mb-2">{{piazza_stats.s_answers}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Average Session Time</p>
                      <p class="fs-30 mb-2">{% widthratio piazza_stats.response_time 60 1 %} min</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- box chart for feedback of task -->
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body" id="tour-feedback-all">
                  <h4 id="feedback_title"></h4>
                  <div class="row">
                    {% comment %} <div class="row buttons"> {% endcomment %}
                      <div class="col-md-12 my-2" style="margin-top: 5px;">
                        <h6 style="display:inline-block; font-weight: 400; margin: 10px 10px;">Select task:</h6>
                        <select id="task_select" class="form-select selectpicker show-tick" onchange="updateOnChange()" value="0" style="display:inline-block; width: 155px;">  
                          <option value="0">Task 0</option>
                          <option value="1">Task 1</option>
                          <option value="2">Task 2</option>
                          <option value="6">Stage 1 Part 1</option>
                          <option value="7">Stage 1 Part 2</option>
                          <option value="8">Stage 1 Part 3</option>
                          <option value="9">Stage 1 Part 4</option>
                          <option value="3">Task 3</option>
                          <option value="4">Task 4</option>
                          <option value="5">Task 5</option>
                        </select>
                      </div>
                    {% comment %} </div> {% endcomment %}
                    <br>
                    <br>
                    <!-- container of box chart -->
                    <div id="box_chart"></div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-12">
                    <!-- Legend -->
                    <div id="legend">Legend</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  Feedback Plot Question-wise  -->
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div style="width:100%">
                <div class="card" id="tour-feedback-ques">
                  <div class="card-body" id="headingOne">
                    <h4 id="feedback-questions">Feedback Question</h4>
                    <div class="d-sm-flex my-4 justify-content-around">
                      <select id="feedback-task" 
                        style="border-radius: 0.25rem;
                                color: #000;
                                background-color: transparent;
                                border-color: #ced4da;
                                min-width: 176px;
                                width: 17vw;
                                margin-top:8px;
                                font-size: medium;
                                padding: 6px;">
                        <option class="dropdown-item" selected value="-1">Select Task</option>
                        <option class="dropdown-item" value="0">Task 0</option>
                        <option class="dropdown-item" value="1">Task 1</option>
                        <option class="dropdown-item" value="2">Task 2</option>
                        <option class="dropdown-item" value="3">Stage 1 Part 1</option>
                        <option class="dropdown-item" value="4">Stage 1 Part 2</option>
                        <option class="dropdown-item" value="5">Stage 1 Part 3</option>
                        <option class="dropdown-item" value="6">Stage 1 Part 4</option>
                        <option class="dropdown-item" value="7">Task 3</option>
                        <option class="dropdown-item" value="8">Task 4</option>
                        <option class="dropdown-item" value="9">Task 5</option>
                        <option class="dropdown-item" value="10">Stage 2 Part 1</option>
                        <option class="dropdown-item" value="11">Stage 2 Part 2</option>
                        <option class="dropdown-item" value="12">Stage 2 Part 3</option>
                        <option class="dropdown-item" value="13">Stage 2 Part 4</option>
                      </select>
                      <select id="feedback-ques"
                        style="border-radius: 0.25rem;
                                color: #000;
                                background-color: transparent;
                                border-color: #ced4da;
                                min-width: 176px;
                                width: 17vw;
                                margin-top:8px;
                                font-size: medium;
                                padding: 6px;">
                        <option class="dropdown-item" selected value="-1">Select Question</option>
                      </select>
                      <select id="graph-type"
                          style="border-radius: 0.25rem;
                                color: #000;
                                background-color: transparent;
                                border-color: #ced4da;
                                min-width: 176px;
                                width: 17vw;
                                margin-top:8px;
                                font-size: medium;
                                padding: 6px;">
                        <option selected class="dropdown-item" value="-1">Select Graph</option>
                        <option value="0">Doughnut Chart</option>
                        <option value="1">Bar Chart</option>
                        <option value="2">Column-spline Graph</option>
                        <option value="3">Polar Graph</option>
                        {% comment %} <option value="2">Histogram</option> {% endcomment %}
                      </select>
                    </div> 

                    <div class="row justify-content-sm-center my-2 mx-sm-0 ml-1"> 
                      <button id="graph-selection-btn" class="btn btn-success" style="max-width: 130px; ">Plot</button>
                    </div>
                    
                    <div class="row">
                      <div id="feedbackSelectContainer" style="display:none; min-height:450px;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          </div>
          
          <!-- feedback comments table -->
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body" id="tour-feedback-comments">
                  <h4 id="comment_title">Feedback Comments</h4>
                  <div class="row px-2 py-2">
                    <div class="col-12 col-sm-6" style="padding: 3px;">
                      <label class="ml-1" style="margin-top: 8px;">Select Task:</label>
                      <select id="comment_task_select" class="form-select selectpicker show-tick" onchange="updateOnChange_comment()" value="-5" style="display:inline-block; width: 155px;">  
                        <option value="-5">Select Task</option>
                        <option value="0">Task 0</option>
                        <option value="1">Task 1</option>
                        <option value="2">Task 2</option>
                        <option value="6">Stage 1</option>
                        <option value="3">Task 3</option>
                        <option value="4">Task 4</option>
                        <option value="5">Task 5</option>
                        <option value="7">Stage 2</option>
                      </select>
                    </div>
                    <div id="toggle_button_holder" class="col-12 col-sm-6" style="padding: 3px; text-align: -webkit-center;">
                    </div>
                  </div>
                  <div id="comments_loader" class="hollow-dots-spinner" :style="spinnerStyle">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                  </div>
                  <div id="comment" style="display: none;">
                    <div class="row p-3">
                      <div class="col-12">
                      <!-- Submitted table -->
                        <table id="commentsTable" class="table table-hover table-bordered table-striped" style="width: 100%; cursor: pointer; text-align: center;border:1px solid black; top:0;">
                          <!-- table head and table columns -->
                          <thead>
                            <tr style="top:0; position:sticky; background-color: #030835; color: white;">
                              <th>Member ID</th>
                              <th>Team ID</th>
                              <th>Theme</th>
                              <th>Name</th>
                              <th style="text-align: left; background-position: left;">Comments</th>
                            </tr>
                          </thead>
                          <!-- table body for populating data -->
                          <tbody id="commentTableContent">
                          </tbody>
                        </table>
                      </div>
                      <!-- submitted table ends -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Performance/Results Graph -->
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body" id="tour-feedback-all">
                  <h4>Performance Graph</h4>
                  <div class="row">
                    <div class="col-md-6 my-2"  >
                      <h6 style="display:inline-block; font-weight: 400; margin: 10px 10px;">Select task:</h6>
                      <select id="performance_task_select" class="form-select selectpicker show-tick" onchange="updateOnChange()" value="0" style="display:inline-block; width: 155px;">  
                        <option value="0">Task 0</option>
                        <option value="1a">Task 1a</option>
                        <option value="1b">Task 1b</option>
                        <option value="1c">Task 1c</option>
                        <option value="2a">Task 2a</option>
                        <option value="2b">Task 2b</option>
                        <option value="3">Task 3</option>
                        <option value="4a">Task 4a</option>
                        <option value="4b">Task 4b</option>
                        <option value="4c">Task 4c</option>
                        <option value="5">Task 5</option>
                        <option value="4">Task 6</option>
                      </select>
                    </div>
                    <div class="col-md-6 my-2 text-end">
                      <button class="mr-4 btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#customColumns">Customize column range</button>
                    </div>
                  </div>
                  <div class="d-grid gap-2 col-3 mx-auto">
                    <button class="btn btn-success">Plot</button>
                  </div>
                  <br>
                  <br>
                  <!-- container of box chart -->
                  <div id="performChart"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="customColumns" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="mt-4 modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Customize your Graph</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Add the lower and upper values of the classes for the graph. Click '+' to add more columns.
                  <div id="performModalInputList" class="mt-3" style="max-height:230px; overflow:auto;">
                    <div class="input-group" id="performModalInput">
                      <span class="input-group-text" style="min-width: 40%;">Column</span>
                      <input name="colRangeLower" type="number" aria-label="Lower value" placeholder="Lower value" class="form-control">
                      <input name="colRangeUpper " type="number" aria-label="Higher value" placeholder="Higher value" class="form-control">
                    </div>
                  </div>
                  <div class="text-end">
                    <button class="mt-2 btn btn-outline-danger" disabled style="padding: 2px 8px;" id="performModalRemove">Remove</button>
                    <button class="mt-2 ml-1 btn btn-outline-success" style="padding: 2px 8px;" id="performModalAdd">Add</button>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="performModalSubmit">Customize</button>
                </div>
              </div>
            </div>
          </div>

          <!-- another chart space for future -->
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body" id="tour-informed-teams">
                  <div class="d-flex justify-content-between">
                    <p class="card-title">Informed Teams Counter</p>
                  </div>
                  <p class="font-weight-500">This is the count of the total number of teams who viwed and teams that didn't view the topics posted by instructor </p>
                  
                  <div class="row px-2 py-2">
                    <div class="col-12 col-sm-6" style="padding: 3px;">
                      <!-- select to choose theme -->
                      <label class="ml-1" style="margin-top: 8px;">Select Category:</label>
                      <select id="category_select" class="form-select" onchange="updateOnChange_category()" style="min-width: 176px; width: 17vw; display: inline; margin-left: 5px;">
                        <option value="-5">Select Category</option>
                      </select>
                    </div>
                    <div class="col-12 col-sm-6" style="padding: 3px;">
                      <!-- select to choose task  -->
                      <label class="ml-1" style="margin-top: 8px;">Select Topic:</label>
                      <select id="topic_select" class="form-select"  style="min-width: 176px; width: 17vw; display: inline; margin-left: 5px;">
                        <option value="-5">Select Topic</option>
                      </select>
                    </div>
                  </div>
                  <div class="row justify-content-sm-center my-2 mx-sm-0 ml-1"> 
                    <button id="table3-btn" class="btn btn-success" onclick="updateOnChange_topic()" style="max-width: 130px; ">Search Data</button>
                  </div>
                </div>
                <!--  Spinner till the table loads  -->
                <div id="informed_teams_loader" class="hollow-dots-spinner" :style="spinnerStyle">
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                </div>
                <div id="informed_teams" style="display:none;">
                  <div class="row">
                    <div class="col-12" style="text-align:center;">
                      <canvas id="barChart2" style="display:inline !important; max-width: 65%"></canvas>
                    </div>
                  </div>
                  <div class="row p-3">
                    <div class="col-12">
                      <table id="table3" class="table table-hover table-bordered table-striped" style="width: 100%; cursor: pointer; text-align: center;border:none; top:0%;">
                        <!-- table head and table columns -->
                        <thead>
                          <tr style="top:0; position:sticky; background-color: #030835; color: white; z-index:1;"> 
                            <th>
                              <button style="border: none; background: transparent; font-size: 14px;" id="MyTableCheckAllButton"/>
                              <svg style="width:16px;height:16px" viewBox="0 0 24 24">
                                <path id="table-checkbox" fill="white" d="M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M19,5V19H5V5H19Z" />
                              </svg>
                            </th>
                            <th>Team_id</th>
                            <th>Status</th>
                            <th>Captain's Name</th>
                            <th>Captain's Email</th>
                            <th>Captain's Contact No</th>
                          </tr>
                        </thead>
                        <!-- table body for populating data -->
                        <tbody id="table3Content">
                        </tbody>
                      </table>
                      <!-- #### Checkboxes to select seen/unseen teams #### -->
                      <div class="d-flex" style="margin-top: 15px;">
                        <label class="form-check mr-3 ml-0" style="margin-top: 6px;">Email reminder to </label>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="seen-teams" value="option1">
                          <label class="ml-0 form-check-label" for="seen-teams">Seen Teams</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" id="unseen-teams" value="option2">
                          <label class="ml-0 form-check-label" for="unseen-teams">Unseen Teams</label>
                        </div>
                        <button type="button" id="draft-mail" class="btn btn-outline-success" data-toggle="modal" data-target="#alertEmail" style="padding: 5px 9px;">Draft Mail</button>
                        {% comment %} <div class="form-check form-check-inline"> {% endcomment %}
                        {% comment %} <label class="ml-0 form-check-label" for="seen-teams"> or copy emails</label> {% endcomment %}
                        {% comment %} <label class="form-check mr-3 ml-0" style="margin-top: 6px;">or Copy email </label> {% endcomment %}
                          {% comment %} <a href""><i class="bi bi-clipboard"></i></a> {% endcomment %}
                        <button id="email-copy" class="ml-1" style="border:none;background:transparent;margin:auto;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                          </svg>
                        </button>
                      </div>

                      <!-- #### Alert to confirm the "Team IDs" #### -->
                      <div class="modal fade" id="alertEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document" style="margin-top:10px;">
                          <div class="modal-content" style="max-height:38rem;">
                            <div class="modal-header" style="padding:20px 25px;">
                              <h5 id="alertTitle" class="modal-title">Confirm the Team ID(s)</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body" style="padding:10px 30px; overflow:auto;">
                              <div class="accordion" id="accordionExample">
                                <div class="card">
                                  <div class="card-header">
                                    <h2 class="mb-0">
                                      <button id="rejectedEmailBtn" class="btn btn-outline-danger" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne"></button>
                                    </h2>
                                  </div>
                                  <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                      <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Team ID</th>
                                            <th scope="col">Email ID</th>
                                          </tr>
                                        </thead>
                                        <tbody id="rejectedEmailList">
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                              <button id="alertSubmit" type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#draftEmail" disabled="true">Confirm</button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- #### Modal to draft the email #### -->
                      <div class="modal fade" id="draftEmail" tabindex="-1" role="dialog" aria-labelledby="draftEmail" aria-hidden="true">
                        <div class="modal-dialog" role="document" style="margin-top:10px;">
                          <div class="modal-content">
                            <div class="modal-header" style="padding:20px 25px;">
                              <h5 class="modal-title" id="draftEmailLabel">Draft Mail</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body" style="padding:10px 20px 30px 20px;">
                              <form class="needs-validation" method="POST" novalidate>
                                <div class="form-group mb-3">
                                  <label for="recipient-name" class="col-form-label" style="margin-bottom:0px; padding-bottom:5px;">To</label>
                                  <input name="cc" type="email" class="form-control no-validate mb-2" id="draftEmail-cc" placeholder="cc" aria-describedby="CC" style="padding:5px 10px; height:35px;" multiple="true">
                                  <input name="bcc" type="email" class="form-control no-validate" id="draftEmail-bcc" placeholder="bcc" aria-describedby="BCC" style="padding:5px 10px; height:35px;" multiple="true">
                                </div>
                                <div class="form-group mb-3">
                                  <label for="recipient-name" class="col-form-label req" style="margin-bottom:0px; padding-bottom:5px;">Subject</label>
                                  <input name="sub" type="text" class="form-control" id="draftEmail-sub" placeholder="Subject" style="padding:5px 10px; height:35px;" required>
                                  <div class="invalid-feedback"> Required !! </div>
                                </div>
                                <div class="form-group">
                                  <label for="message-text" class="col-form-label req" style="margin-bottom:0px; padding-bottom:5px;">Message</label>
                                  <textarea name="msg" class="form-control" placeholder="Message" id="draftEmail-msg" style="min-height:145px;" required></textarea>
                                  <div class="invalid-feedback"> Required !! </div>
                                </div>
                                <div class="text-right">
                                  <button type="button" id="draftEmailSubmit" class="btn btn-primary" data-dismiss="modal" style="">Send</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>  
      </div>
    </div>
  </div>
  <!-- important Scripts -->
  <script src="/media/vendors/js/vendor.bundle.base.js"></script>
  {% comment %} <script src="/media/vendors/chart.js/Chart.min.js"></script> {% endcomment %}
  <script src="/media/js/off-canvas.js"></script>
  <script src="/media/js/hoverable-collapse.js"></script>
  <script src="/media/js/template.js"></script>
  <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
  <script src="/media/js/dashboard.js"></script>
  <script src="/media/js/feedbackSelect.js"></script>
  <script src="/media/js/guided-tour.js"></script>
  {% comment %} <script src="/media/js/graph.js"></script> {% endcomment %}

  <script>
    localStorage.setItem("thresh","{{thresh|escapejs}}")
    localStorage.setItem("parameters","{{parameters|escapejs}}")
    localStorage.setItem("json_data","{{json_data|escapejs}}")
    localStorage.setItem("this_task", "{{this_task|escapejs}}")
    localStorage.setItem("current_task", "{{current_task|escapejs}}")
    localStorage.setItem("discourse_topics", "{{discourse_topics|escapejs}}")
    localStorage.setItem("discourse_categories", "{{discourse_categories|escapejs}}")
  </script>

</body>

</html>

